*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}

a,
button {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

button {
    border: none;
    cursor: pointer;
}

.table {
    display: table;
    width: 100%;
}

.tCell {
    display: table-cell;
}

header .left,
header .logo,
header .right {
    width: 33.3333%;
    vertical-align: top;
}

header .login {
    font-size: 13px;
    line-height: 18px;
    color: #0069b4;
}

header .login:hover {
    text-decoration-color: transparent;
}

.menu {
}

.menu li {
    display: inline-block;
    margin-right: 18px;
}

.menu li a:hover {
    text-decoration-color: transparent;
}

.menu li a {
    font-size: 13px;
    line-height: 28px;
    color: #333333;
}

.menu li a:hover {
    text-decoration-color: transparent;
}

header .logo {
    text-align: center;
}

header .right {
    text-align: right;
}

header .phone {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
}

header .callBack {
    display: table;
    margin-left: auto;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
}

header .callBack:hover {
    border-bottom: 1px solid #0069b4;
}

header .timing {
    font-size: 13px;
    line-height: 19px;
    color: #999999;
}

header .basket {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
}

header .basket:hover {
    opacity: 0.7;
}

header .basket span {
    color: #1a9547;
}

header [class*="icon"] {
    color: #caebd4;
}

header .login [class="icon"] {
    font-size: 18px;
}

header .phone [class="icon"] {
    font-size: 20px;
}

header .phone:hover {
    opacity: 0.7;
}


.banner {
    display: flex;
    justify-content: space-between;
}

.banner .sale {
    width: 305px;
    height: 360px;
}

.banner .slider {
    width: 640px;
    height: 360px;
}

.banner > div {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.advanteges {
    width: calc(100% - 320px);
    float: left;
}

.advanteges .item {
    width: 25%;
    float: left;
}

.advanteges .item span {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
    display: block;
}

.advanteges .item p {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}

.subscribe {
    width: 320px;
    float: left;
    background-color: #63b94a;
    padding: 20px;
}

.subscribe .wrap {
    display: table;
    width: 100%;
    margin-top: 10px;
}

.subscribe label {
    font-size: 16px;
    color: #ffffff;
}

.subscribe input {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    width: 100%;
    margin-top: 15px;
    padding-left: 12px;
    border: none;
}

.subscribe button {
    display: table-cell;
    vertical-align: middle;
    width: 188px;
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    background-color: #259c47;
    border: none;

}

.subscribe button:hover {
    opacity: 0.7;
}

.subscribe .wrap span {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
}

.filter li {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;
}

.filter li + li {
    margin-left: 18px;
}

.filter li a {
    text-decoration: none;
    color: #666666;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
}

.status {
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.status.hit {
    background-color: #6eddcc;
}

.status.discount {
    background-color: #fff400;
}

.status.new {
    background-color: #78ec71;
}

.card .img {
    width: 100%;
    height: 220px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card .content {
    min-height: 110px;
    position: relative;
}

.card .title {
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.card a {
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .buy {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 10px;
}

.card .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
}

.card .price .old {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: line-through;
    color: #666666;
}

.card button {
    float: right;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    background-color: #ff7200;
    border: none;

}

.card button:hover {
    background-color: #ffffff;
    color: #ff7200;
    border: 1px solid #ff7200;
}

.widjets .wrap {
    display: flex;
    justify-content: space-between;
}

.widjets h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666;
}

.widjets .item:first-child,
.widjets .item:last-child {
    width: 290px;
    height: 400px;
}

.widjets .item:nth-child(2) {
    width: 350px;
    height: 400px;
}

.widjets .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tabs li a {
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.info .tubContent {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.info .title {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-left: 25px;
}

.info .title::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid #333333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 5px;
    left: 0;
}

.info .title.active::before {
    transform: rotate(180deg);
}

footer {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4b;
}

.footMenu {
    width: 50%;
    float: left;
}

.footMenu .col {
    width: 50%;
    float: left;
}

.footCont {
    width: 25%;
    float: left;
}

.copyright {
    width: 25%;
    float: left;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a.soc {
    font-size: 21px;
}

/*Новости подробно*/
.breadCrumbs li a, .breadCrumbs li {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    text-decoration: none;
}

.firstCap {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.secCap {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.newsDate {
    font-size: 12px;
    line-height: 22px;
    color: #aaaaaa;
}

.newsTxt {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.moreNews {
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}

/*Корпоративным клиентам*/
.wrapper .left p {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
}

.order label.formOrder {
    font-size: 13px;
    font-style: italic;
    line-height: 22px;
    color: #666666;
}

.order .makeLogo {
    font-size: 13px;
    color: #333333;
}

.order span:not(.makeLogo) {
    font-size: 11px;
    color: #999999;
}

.order label.yesNo {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
}

.order .file {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    text-decoration: underline;
    color: #229647;
}

.order #number,
.order #date {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.order button {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.rightClient span {
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
}

.rightClient p {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.rightClient button {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

/*Оформление заказа*/
.titleOrder {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
}

.makeOrder .yourInformation {
    font-size: 13px;
    font-style: italic;
    line-height: 22px;
    color: #666666;
}

.makeOrder #city {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.makeOrder h2 {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.wayDelivery li label {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.wayDelivery li p {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.wayDelivery li span {
    color: #f26522;
}

.orderList li {
    padding-left: 40px;
}

.orderList label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
}

.radioBtn {
    display: none;
}

.radioBtn:not(checked) + label::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioBtn:not(checked) + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.radioBtn:checked + label::before {
    border-color: #51bf87;
}

.radioBtn:checked + label::after {
    opacity: 1;
}

span.star {
    color: #ed1c24;
}

.wayPayment li label {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.wayPayment li p {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.makeOrder button {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

@media (max-width: 1199px) {
    .container {
        width: 980px;
    }

    .banner .sale {
        height: 350px;
        width: 295px;
    }

    .banner .slider {
        height: 350px;
        width: 620px;
    }

    .advanteges {
        width: calc(100% - 300px);
    }

    .subscribe {
        width: 300px;
    }
    .card .img {
        height: 215px;
    }
    .widjets {
        display: none;
    }
}

}
@media (max-width: 991px) {
    .container {
        width: 780px;
    }

    @media (max-width: 767px) {
        .container {
            width: 100%;
        }